adf/pipeline/PL_GetGitHubCsvs_To_SQL.json
{
	"name": "PL_GetGitHubCsvs_To_SQL",
	"properties": {
		"activities": [
			{
				"name": "GetRepoFileList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_github_list",
						"type": "DatasetReference",
						"parameters": {
							"owner": "microsoft",
							"repo": "sql-server-samples",
							"path": "samples/databases/adventure-works/oltp-install-script",
							"branch": "master"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "OnlyCSVs",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetRepoFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetRepoFileList').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(endsWith(item().name, '.csv'),\n    contains(\n        'Address.csv',\n        item().name\n    )\n)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ProcessEachCSV",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "OnlyCSVs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('OnlyCSVs').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 1,
					"activities": [
						{
							"name": "CopyFileToRaw",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "usp_UpsertPipelineFileAudit",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"maxConcurrentConnections": 5,
										"requestMethod": "GET",
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_github_raw_file",
									"type": "DatasetReference",
									"parameters": {
										"owner": "@pipeline().parameters.owner",
										"repo": "@pipeline().parameters.repo",
										"branch": "@pipeline().parameters.branch",
										"path": "@item().path",
										"fileName": "''"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_raw_csv",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"folderPath": {
											"value": "@concat('raw/', pipeline().parameters.source_system, '/', formatDateTime(utcNow(),'yyyy/MM/dd'))\n",
											"type": "Expression"
										},
										"delimiter": "','",
										"hasHeader": "false"
									}
								}
							]
						},
						{
							"name": "UpsertPipelineFileAudit",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyFileToRaw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpsertPipelineFileAudit]",
								"storedProcedureParameters": {
									"Action": {
										"value": "End",
										"type": "String"
									},
									"TargetPath": {
										"value": {
											"value": "@concat('raw/', item().name)",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetFileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "@activity('CopyFileToRaw').Status",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowCount": {
										"value": {
											"value": "@if(\n  or(equals(activity('CopyFileToRaw').Status,'Failed'), equals(activity('CopyFileToRaw').output.filesWritten, null)),\n  null,\n  int(activity('CopyFileToRaw').output.filesWritten)\n)\n",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"FileSizeBytes": {
										"value": {
											"value": "@if(\n  or(equals(activity('CopyFileToRaw').Status,'Failed'), equals(activity('CopyFileToRaw').output.dataWritten, null)),\n  null,\n  int(activity('CopyFileToRaw').output.dataWritten)\n)\n",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ErrorMessage": {
										"value": {
											"value": "@if(equals(activity('CopyFileToRaw').Status,'Failed'), activity('CopyFileToRaw').Error.Message, '')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExtraJson": {
										"value": {
											"value": "@string(activity('CopyFileToRaw').output)",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"ActivityName": {
										"value": {
											"value": "\"CopyFileToRaw\"",
											"type": "Expression"
										},
										"type": "String"
									},
									"FailOnError": {
										"value": "true",
										"type": "Boolean"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqldb_rm_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "usp_UpsertPipelineFileAudit",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpsertPipelineFileAudit]",
								"storedProcedureParameters": {
									"RunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"ActivityName": {
										"value": {
											"value": "\"CopyFileToRaw\"",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSystem": {
										"value": {
											"value": "@pipeline().parameters.source_system",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProjectName": {
										"value": {
											"value": "@pipeline().parameters.project",
											"type": "Expression"
										},
										"type": "String"
									},
									"RepoOwner": {
										"value": {
											"value": "@pipeline().parameters.owner",
											"type": "Expression"
										},
										"type": "String"
									},
									"RepoName": {
										"value": {
											"value": "@pipeline().parameters.repo",
											"type": "Expression"
										},
										"type": "String"
									},
									"RepoBranch": {
										"value": {
											"value": "@pipeline().parameters.branch",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"FilePath": {
										"value": {
											"value": "@concat('https://raw.githubusercontent.com/', pipeline().parameters.owner, '/', pipeline().parameters.repo, '/', pipeline().parameters.branch, '/', item().path)",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceUrl": {
										"value": {
											"value": "@concat('https://raw.githubusercontent.com/', pipeline().parameters.owner, '/', pipeline().parameters.repo, '/', pipeline().parameters.branch, '/', if(contains(item().path, item().name), item().path, concat(item().path,'/', item().name)))",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetFileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExtraJson": {
										"value": {
											"value": "@string(item())",
											"type": "Expression"
										},
										"type": "String"
									},
									"Action": {
										"value": "Start",
										"type": "String"
									},
									"TargetPath": {
										"value": {
											"value": "@concat('raw/', item().name)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqldb_rm_dev",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"source_system": {
				"type": "string",
				"defaultValue": "RM_ADW"
			},
			"project": {
				"type": "string",
				"defaultValue": "RM_ADW"
			},
			"owner": {
				"type": "string",
				"defaultValue": "microsoft"
			},
			"repo": {
				"type": "string",
				"defaultValue": "sql-server-samples"
			},
			"branch": {
				"type": "string",
				"defaultValue": "master"
			}
		},
		"variables": {
			"auditRecord": {
				"type": "String"
			}
		},
		"annotations": []
	}
}