adf/pipeline/PL_ResellerSales_Raw_To_Bronze.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "LookupMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\n-- view manifest\nSELECT \n    ManifestID, ModuleName, SourceFile, SourceDataFlow_fliename, Source_path, [Layer], [Target], Target_path, ProcessingPlatform,\n    include_layer, table_name, ModifiedDate_flage, ColumnList, CreatedAt\nFROM dbo.PipelineManifest\nWHERE Layer='Raw'\nORDER BY ManifestID;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresql_PipelineManifest",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMetadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "RunDatabricksNotebook",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/u2786997@uel.ac.uk/Repo/DataBricks/ETL-Framework/03_Run",
								"baseParameters": {
									"domain": {
										"value": "@item().ModuleName",
										"type": "Expression"
									},
									"column_list": {
										"value": "@item().ColumnList\n",
										"type": "Expression"
									},
									"year_column": {
										"value": "@item().ModifiedDate_flage",
										"type": "Expression"
									},
									"table_name": {
										"value": "@item().table_name",
										"type": "Expression"
									},
									"direct_account_key": {
										"value": "@pipeline().parameters.direct_account_key",
										"type": "Expression"
									},
									"BASE_RAW_PATH": {
										"value": "@item().Source_path",
										"type": "Expression"
									},
									"BASE_BRONZE_PATH": {
										"value": "@item().Target_path",
										"type": "Expression"
									},
									"include_layer": {
										"value": "false",
										"type": "Expression"
									},
									"file_name": {
										"value": "@item().SourceDataFlow_fliename",
										"type": "Expression"
									},
									"layer": {
										"value": "@item().include_layer",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_adb_rm_de",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"direct_account_key": {
				"type": "string",
				"defaultValue": "E4VB7pXWFXttUWbbSBPY35/Dvsw6Fs6XgIWLTj3lCS6v/jCEow9Uxs+r6Usobhenv14UdWEzb+R8+AStNyS0dg=="
			}
		},
		"annotations": []
	}
}