adfrgvkrm/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfrgvkrm"
		},
		"ls_adb_rm_de_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_adb_rm_de'"
		},
		"ls_adls_table_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_adls_table'"
		},
		"ls_git_raw_http_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_git_raw_http'"
		},
		"ls_sqldb_rm_dev_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sqldb_rm_dev'"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://osbazurekeyvault.vault.azure.net/"
		},
		"LS_ADLS_RM_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://scrgvkrmade.dfs.core.windows.net"
		},
		"LS_GitHub_http_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.github.com"
		},
		"ls_adb_rm_de_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1130-072006-w0cclfqm"
		},
		"ls_git_raw_http_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com"
		},
		"ls_git_raw_http_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladminuser"
		},
		"ls_sqldb_rm_dev_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlsrv-rm-dev.database.windows.net"
		},
		"ls_sqldb_rm_dev_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-rm-dev"
		},
		"ls_sqldb_rm_dev_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladminuser"
		},
		"adls_prend_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/e4ba34f3-492a-42a1-b14b-9d90e73a3396/resourceGroups/rg-vk-rm-ade/providers/Microsoft.Storage/storageAccounts/scrgvkrmade"
		},
		"adls_prend_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_GetGitHubCsvs_To_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetRepoFileList",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_github_list",
								"type": "DatasetReference",
								"parameters": {
									"owner": "microsoft",
									"repo": "sql-server-samples",
									"path": "samples/databases/adventure-works/oltp-install-script",
									"branch": "master"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "OnlyCSVs",
						"description": "'Account.csv,Department.csv,BusinessEntity.csv,BusinessEntityAddress.csv,PurchaseOrderHeader.csv,PurchaseOrderDetail.csv,TransactionHistory.csv , TransactionHistoryArchive.csv,ProductCostHistory.csv, ProductListPriceHistory.csv, ProductVendor.csv, Product.csv,Currency.csv , CurrencyRate.csv,Employee.csv, EmployeeDepartmentHistory.csv,Customer.csv, SalesOrderHeader.csv ,SalesOrderDetail.csv'",
						"type": "Filter",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "GetRepoFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetRepoFileList').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(endsWith(item().name, '.csv'),\n    contains(\n        'Account.csv,Department.csv,BusinessEntity.csv,PurchaseOrderHeader.csv,PurchaseOrderDetail.csv,TransactionHistory.csv,TransactionHistoryArchive.csv,Product.csv,ProductCostHistory.csv,Currency.csv,CurrencyRate.csv',\n        item().name\n    )\n)\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ProcessEachCSV",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "OnlyCSVs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('OnlyCSVs').output.Value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 1,
							"activities": [
								{
									"name": "CopyFileToRaw",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "usp_UpsertPipelineFileAudit",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"maxConcurrentConnections": 5,
												"requestMethod": "GET",
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_github_raw_file",
											"type": "DatasetReference",
											"parameters": {
												"owner": "@pipeline().parameters.owner",
												"repo": "@pipeline().parameters.repo",
												"branch": "@pipeline().parameters.branch",
												"path": "@item().path",
												"fileName": "''"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_raw_csv",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"folderPath": {
													"value": "@concat('raw/', pipeline().parameters.source_system, '/', formatDateTime(utcNow(),'yyyy/MM/dd'))\n",
													"type": "Expression"
												},
												"delimiter": "','",
												"hasHeader": "false"
											}
										}
									]
								},
								{
									"name": "UpsertPipelineFileAudit",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "CopyFileToRaw",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_UpsertPipelineFileAudit]",
										"storedProcedureParameters": {
											"Action": {
												"value": "End",
												"type": "String"
											},
											"TargetPath": {
												"value": {
													"value": "@concat('raw/', item().name)",
													"type": "Expression"
												},
												"type": "String"
											},
											"TargetFileName": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"Status": {
												"value": {
													"value": "@activity('CopyFileToRaw').Status",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowCount": {
												"value": {
													"value": "@if(\n  or(equals(activity('CopyFileToRaw').Status,'Failed'), equals(activity('CopyFileToRaw').output.filesWritten, null)),\n  null,\n  int(activity('CopyFileToRaw').output.filesWritten)\n)\n",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"FileSizeBytes": {
												"value": {
													"value": "@if(\n  or(equals(activity('CopyFileToRaw').Status,'Failed'), equals(activity('CopyFileToRaw').output.dataWritten, null)),\n  null,\n  int(activity('CopyFileToRaw').output.dataWritten)\n)\n",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": {
													"value": "@if(equals(activity('CopyFileToRaw').Status,'Failed'), activity('CopyFileToRaw').Error.Message, '')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExtraJson": {
												"value": {
													"value": "@string(activity('CopyFileToRaw').output)",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityName": {
												"value": {
													"value": "\"CopyFileToRaw\"",
													"type": "Expression"
												},
												"type": "String"
											},
											"FailOnError": {
												"value": "true",
												"type": "Boolean"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sqldb_rm_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "usp_UpsertPipelineFileAudit",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_UpsertPipelineFileAudit]",
										"storedProcedureParameters": {
											"RunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityName": {
												"value": {
													"value": "\"CopyFileToRaw\"",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourceSystem": {
												"value": {
													"value": "@pipeline().parameters.source_system",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProjectName": {
												"value": {
													"value": "@pipeline().parameters.project",
													"type": "Expression"
												},
												"type": "String"
											},
											"RepoOwner": {
												"value": {
													"value": "@pipeline().parameters.owner",
													"type": "Expression"
												},
												"type": "String"
											},
											"RepoName": {
												"value": {
													"value": "@pipeline().parameters.repo",
													"type": "Expression"
												},
												"type": "String"
											},
											"RepoBranch": {
												"value": {
													"value": "@pipeline().parameters.branch",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileName": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"FilePath": {
												"value": {
													"value": "@concat('https://raw.githubusercontent.com/', pipeline().parameters.owner, '/', pipeline().parameters.repo, '/', pipeline().parameters.branch, '/', item().path)",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourceUrl": {
												"value": {
													"value": "@concat('https://raw.githubusercontent.com/', pipeline().parameters.owner, '/', pipeline().parameters.repo, '/', pipeline().parameters.branch, '/', if(contains(item().path, item().name), item().path, concat(item().path,'/', item().name)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"TargetFileName": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExtraJson": {
												"value": {
													"value": "@string(item())",
													"type": "Expression"
												},
												"type": "String"
											},
											"Action": {
												"value": "Start",
												"type": "String"
											},
											"TargetPath": {
												"value": {
													"value": "@concat('raw/', item().name)",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sqldb_rm_dev",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "sqltable_metadata",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ProcessEachCSV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate table [dbo].[sql_table_metadata]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "table_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "table_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "column_names_json",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "column_names_json",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "column_defs_json",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "column_defs_json",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "primary_keys_json",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "primary_keys_json",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "foreign_keys_json",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "foreign_keys_json",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "unique_keys_json",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "unique_keys_json",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "raw_sql",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "raw_sql",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql_metadata",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqldb_rm",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PipelineManifest",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "sqltable_metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_sqldb_rm_dev",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "\nIF OBJECT_ID('dbo.PipelineManifest','U') IS NOT NULL\n    DROP TABLE dbo.PipelineManifest;\n\n\nCREATE TABLE dbo.PipelineManifest\n(\n    ManifestID INT IDENTITY(1,1) PRIMARY KEY,\n    ModuleName        NVARCHAR(128)   NOT NULL,\n    SourceFile        NVARCHAR(256)   NOT NULL,\n    SourceDataFlow    NVARCHAR(512)   NULL,\n    [Layer]           NVARCHAR(64)    NOT NULL,\n    [Batch]           NVARCHAR(64)    NULL,\n    ParallelGroup     NVARCHAR(128)   NULL,\n    [Target]          NVARCHAR(512)   NULL,\n    ProcessingPlatform NVARCHAR(128)  NULL,\n    DependencyType    NVARCHAR(64)    NULL,\n    DependencyStatus  NVARCHAR(64)    NULL,\n    Dependencies      NVARCHAR(MAX)   NULL,\n    CreatedAt         DATETIME2       NOT NULL DEFAULT SYSUTCDATETIME()\n);\n\n\nBEGIN TRANSACTION;\n\nINSERT INTO dbo.PipelineManifest (ModuleName, SourceFile, SourceDataFlow, [Layer], [Batch], ParallelGroup, [Target], ProcessingPlatform, DependencyType, DependencyStatus, Dependencies)\nVALUES\n-- DimDate (generated)\n(N'Finance', N'DimDate (generated)', N'DimDate (generated)', N'Bronze', N'Batch B', N'Finance_Bronze', N'dimdate.parquet', N'Databricks', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'DimDate (generated)', N'dimdate.parquet', N'Silver', N'Batch B', N'Finance_Dims', N'stg.dim.date', N'Databricks', N'Parallel', N'Pending', N'dimdate.parquet (Bronze)'),\n(N'Finance', N'DimDate (generated)', N'stg.dim.date', N'Gold', N'Batch B', N'Finance_Gold', N'dbo.DimDate', N'Databricks / Synapse', N'Sequence', N'Blocked', N'stg.dim.date (Silver)'),\n\n-- Account -> DimAccount\n(N'Finance', N'Account.csv', N'Account.csv', N'Raw', N'Batch B', N'Finance_Raw', N'Account.parquet', N'ADF', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'Account.csv', N'Account.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.finance.account', N'Databricks', N'Parallel', N'Pending', N'Account.csv (Raw)'),\n(N'Finance', N'Account.csv', N'stg.finance.account', N'Silver', N'Batch B', N'Finance_Dims', N'dbo.DimAccount', N'Databricks / Synapse', N'Sequence', N'Blocked', N'stg.finance.account (Bronze)'),\n\n-- Department -> DimDepartmentGroup\n(N'Finance', N'Department.csv', N'Department.csv', N'Raw', N'Batch B', N'Finance_Raw', N'Department.parquet', N'ADF', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'Department.csv', N'Department.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.hr.department', N'Databricks', N'Parallel', N'Pending', N'Department.csv (Raw)'),\n(N'Finance', N'Department.csv', N'stg.hr.department', N'Silver', N'Batch B', N'Finance_Dims', N'dbo.DimDepartmentGroup', N'Databricks / Synapse', N'Sequence', N'Blocked', N'stg.hr.department (Bronze)'),\n\n-- Organization (BusinessEntity / Vendor) -> DimOrganization\n(N'Finance', N'BusinessEntity.csv', N'BusinessEntity.csv', N'Raw', N'Batch B', N'Finance_Raw', N'Businessentity.parquet', N'ADF', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'BusinessEntity.csv', N'Businessentity.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.org.businessentity', N'Databricks', N'Parallel', N'Pending', N'BusinessEntity.csv (Raw)'),\n(N'Finance', N'BusinessEntity.csv', N'stg.org.businessentity', N'Silver', N'Batch B', N'Finance_Dims', N'dbo.DimOrganization', N'Databricks / Synapse', N'Sequence', N'Blocked', N'stg.org.businessentity (Bronze); dbo.DimCurrency (Silver) if Currency enrichment required'),\n\n-- Scenario (MISSING OLTP source) -> DimScenario (we will create default)\n(N'Finance', N'Scenario (default)', N'Scenario (generated)', N'Raw', N'Batch B', N'Finance_Raw', N'Scenario.parquet', N'Databricks', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'Scenario (default)', N'Scenario.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.finance.scenario', N'Databricks', N'Parallel', N'Pending', N'Scenario.parquet (Raw)'),\n(N'Finance', N'Scenario (default)', N'stg.finance.scenario', N'Silver', N'Batch B', N'Finance_Dims', N'dbo.DimScenario', N'Databricks / Synapse', N'Sequence', N'Blocked', N'stg.finance.scenario (Bronze)'),\n\n-- Purchase Orders as Finance source (fallback if FinanceTransactions.csv not available)\n(N'Finance', N'PurchaseOrderHeader.csv', N'PurchaseOrderHeader.csv', N'Raw', N'Batch B', N'Finance_Raw', N'PurchaseOrderHeader.parquet', N'ADF', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'PurchaseOrderHeader.csv', N'PurchaseOrderHeader.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.poh', N'Databricks', N'Parallel', N'Pending', N'PurchaseOrderHeader.csv (Raw)'),\n(N'Finance', N'PurchaseOrderDetail.csv', N'PurchaseOrderDetail.csv', N'Raw', N'Batch B', N'Finance_Raw', N'PurchaseOrderDetail.parquet', N'ADF', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'PurchaseOrderDetail.csv', N'PurchaseOrderDetail.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.pod', N'Databricks', N'Parallel', N'Pending', N'PurchaseOrderDetail.csv (Raw)'),\n(N'Finance', N'PurchaseOrder (staging)', N'stg.poh; stg.pod', N'Silver (staging)', N'Batch B', N'Finance_Staging', N'silver.fact_po_staging', N'Databricks', N'Sequence', N'Blocked', N'stg.poh (Bronze); stg.pod (Bronze)'),\n(N'Finance', N'PurchaseOrder (staging)', N'silver.fact_po_staging; dbo.DimAccount; dbo.DimOrganization; dbo.DimDepartmentGroup; dbo.DimScenario; dbo.DimDate', N'Gold', N'Batch B', N'Finance_Gold', N'dbo.FactFinance', N'Synapse / Databricks', N'Sequence', N'Blocked', N'silver.fact_po_staging (Silver); dbo.DimAccount (Silver); dbo.DimOrganization (Silver); dbo.DimDepartmentGroup (Silver); dbo.DimScenario (Silver); dbo.DimDate (Silver)'),\n\n-- TransactionHistory (inventory/cost events) -> optional enrichment to FactFinance\n(N'Finance', N'TransactionHistory.csv', N'TransactionHistory.csv', N'Raw', N'Batch B', N'Finance_Raw', N'TransactionHistory.parquet', N'ADF', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'TransactionHistory.csv', N'TransactionHistory.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.transactionhistory', N'Databricks', N'Parallel', N'Pending', N'TransactionHistory.csv (Raw)'),\n(N'Finance', N'TransactionHistory.csv', N'stg.transactionhistory', N'Silver', N'Batch B', N'Finance_Staging', N'silver.inventory_transactions', N'Databricks', N'Sequence', N'Blocked', N'stg.transactionhistory (Bronze)'),\n(N'Finance', N'TransactionHistory.csv', N'silver.inventory_transactions; dbo.DimProduct; dbo.DimDate; dbo.DimAccount; dbo.DimOrganization; dbo.DimScenario', N'Gold', N'Batch B', N'Finance_Gold', N'dbo.FactFinance', N'Databricks / Synapse', N'Sequence', N'Blocked', N'silver.inventory_transactions (Silver); dbo.DimProduct (Silver if used); dbo.DimDate (Silver)'),\n\n-- Product/Cost inputs (for account mapping / cost)\n(N'Finance', N'Product.csv', N'Product.csv', N'Raw', N'Batch B', N'Finance_Raw', N'Product.parquet', N'ADF', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'Product.csv', N'Product.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.product', N'Databricks', N'Parallel', N'Pending', N'Product.csv (Raw)'),\n(N'Finance', N'ProductCostHistory.csv', N'ProductCostHistory.csv', N'Raw', N'Batch B', N'Finance_Raw', N'ProductCostHistory.parquet', N'ADF', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'ProductCostHistory.csv', N'ProductCostHistory.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.product.costhistory', N'Databricks', N'Parallel', N'Pending', N'ProductCostHistory.csv (Raw)'),\n\n-- Currency (for FX conversion)\n(N'Finance', N'Currency.csv', N'Currency.csv', N'Raw', N'Batch B', N'Finance_Raw', N'Currency.parquet', N'ADF', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'Currency.csv', N'Currency.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.currency', N'Databricks', N'Parallel', N'Pending', N'Currency.csv (Raw)'),\n(N'Finance', N'CurrencyRate.csv', N'CurrencyRate.csv', N'Raw', N'Batch B', N'Finance_Raw', N'CurrencyRate.parquet', N'ADF', N'Parallel', N'Ready', N'none'),\n(N'Finance', N'CurrencyRate.csv', N'CurrencyRate.parquet', N'Bronze', N'Batch B', N'Finance_Bronze', N'stg.currency.rate', N'Databricks', N'Parallel', N'Pending', N'CurrencyRate.csv (Raw)'),\n(N'Finance', N'CurrencyRate.csv', N'stg.currency.rate', N'Silver', N'Batch B', N'Finance_Dims', N'silver.currency_rate_timeseries', N'Databricks', N'Sequence', N'Blocked', N'stg.currency.rate (Bronze); dbo.DimDate (Silver)'),\n(N'Finance', N'CurrencyRate.csv', N'silver.currency_rate_timeseries; dbo.DimDate', N'Gold', N'Batch B', N'Finance_Gold', N'dbo.DimCurrencyRate (or used in conversion)', N'Databricks / Synapse', N'Sequence', N'Blocked', N'silver.currency_rate_timeseries (Silver); dbo.DimDate (Silver)'),\n\nCOMMIT TRANSACTION;\n"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Only_ResellerSales",
						"description": "SalesOrderHeader.csv SalesOrderDetail.csv Customer.csv Store.csv BusinessEntity.csv BusinessEntityAddress.csv Address.csv StateProvince.csv CountryRegion.csv Product.csv ProductSubcategory.csv ProductCategory.csv ProductCostHistory.csv SpecialOffer.csv SpecialOfferProduct.csv SalesPerson.csv Employee.csv Person.csv Currency.csv CurrencyRate.csv SalesTerritory.csv SalesTerritoryHistory.csv ShipMethod.csv",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetRepoFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetRepoFileList').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(endsWith(item().name, '.csv'),\n    contains(\n        'SalesOrderHeader.csv SalesOrderDetail.csv Customer.csv Store.csv BusinessEntity.csv BusinessEntityAddress.csv Address.csv StateProvince.csv CountryRegion.csv Product.csv ProductSubcategory.csv ProductCategory.csv ProductCostHistory.csv SpecialOffer.csv SpecialOfferProduct.csv SalesPerson.csv Employee.csv Person.csv Currency.csv CurrencyRate.csv SalesTerritory.csv SalesTerritoryHistory.csv ShipMethod.csv',\n        item().name\n    )\n)\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ResellerSales_CSV",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Only_ResellerSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Only_ResellerSales').output.Value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 1,
							"activities": [
								{
									"name": "ResellerSales_CopyFileToRaw",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "ResellerSales_usp_UpsertPipelineFileAudit",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"maxConcurrentConnections": 5,
												"requestMethod": "GET",
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_github_raw_file",
											"type": "DatasetReference",
											"parameters": {
												"owner": "@pipeline().parameters.owner",
												"repo": "@pipeline().parameters.repo",
												"branch": "@pipeline().parameters.branch",
												"path": "@item().path",
												"fileName": "''"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_raw_csv",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"folderPath": {
													"value": "@concat('raw/', pipeline().parameters.source_system, '/', formatDateTime(utcNow(),'yyyy/MM/dd'))\n",
													"type": "Expression"
												},
												"delimiter": "','",
												"hasHeader": "false"
											}
										}
									]
								},
								{
									"name": "ResellerSales_UpsertPipelineFileAudit",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ResellerSales_CopyFileToRaw",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_UpsertPipelineFileAudit]",
										"storedProcedureParameters": {
											"Action": {
												"value": "End",
												"type": "String"
											},
											"TargetPath": {
												"value": {
													"value": "@concat('raw/', item().name)",
													"type": "Expression"
												},
												"type": "String"
											},
											"TargetFileName": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"Status": {
												"value": {
													"value": "@activity('ResellerSales_CopyFileToRaw').Status",
													"type": "Expression"
												},
												"type": "String"
											},
											"RowCount": {
												"value": {
													"value": "@if(\n  or(equals(activity('ResellerSales_CopyFileToRaw').Status,'Failed'), equals(activity('ResellerSales_CopyFileToRaw').output.filesWritten, null)),\n  null,\n  int(activity('ResellerSales_CopyFileToRaw').output.filesWritten)\n)\n",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"FileSizeBytes": {
												"value": {
													"value": "@if(\n  or(equals(activity('ResellerSales_CopyFileToRaw').Status,'Failed'), equals(activity('ResellerSales_CopyFileToRaw').output.dataWritten, null)),\n  null,\n  int(activity('ResellerSales_CopyFileToRaw').output.dataWritten)\n)\n",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"ErrorMessage": {
												"value": {
													"value": "@if(equals(activity('ResellerSales_CopyFileToRaw').Status,'Failed'), activity('ResellerSales_CopyFileToRaw').Error.Message, '')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExtraJson": {
												"value": {
													"value": "@string(activity('ResellerSales_CopyFileToRaw').output)",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityName": {
												"value": {
													"value": "\"CopyFileToRaw\"",
													"type": "Expression"
												},
												"type": "String"
											},
											"FailOnError": {
												"value": "true",
												"type": "Boolean"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sqldb_rm_dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ResellerSales_usp_UpsertPipelineFileAudit",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_UpsertPipelineFileAudit]",
										"storedProcedureParameters": {
											"RunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityName": {
												"value": {
													"value": "\"CopyFileToRaw\"",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourceSystem": {
												"value": {
													"value": "@pipeline().parameters.source_system",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProjectName": {
												"value": {
													"value": "@pipeline().parameters.project",
													"type": "Expression"
												},
												"type": "String"
											},
											"RepoOwner": {
												"value": {
													"value": "@pipeline().parameters.owner",
													"type": "Expression"
												},
												"type": "String"
											},
											"RepoName": {
												"value": {
													"value": "@pipeline().parameters.repo",
													"type": "Expression"
												},
												"type": "String"
											},
											"RepoBranch": {
												"value": {
													"value": "@pipeline().parameters.branch",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileName": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"FilePath": {
												"value": {
													"value": "@concat('https://raw.githubusercontent.com/', pipeline().parameters.owner, '/', pipeline().parameters.repo, '/', pipeline().parameters.branch, '/', item().path)",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourceUrl": {
												"value": {
													"value": "@concat('https://raw.githubusercontent.com/', pipeline().parameters.owner, '/', pipeline().parameters.repo, '/', pipeline().parameters.branch, '/', if(contains(item().path, item().name), item().path, concat(item().path,'/', item().name)))",
													"type": "Expression"
												},
												"type": "String"
											},
											"TargetFileName": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExtraJson": {
												"value": {
													"value": "@string(item())",
													"type": "Expression"
												},
												"type": "String"
											},
											"Action": {
												"value": "Start",
												"type": "String"
											},
											"TargetPath": {
												"value": {
													"value": "@concat('raw/', item().name)",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_sqldb_rm_dev",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"source_system": {
						"type": "string",
						"defaultValue": "RM_ADW"
					},
					"project": {
						"type": "string",
						"defaultValue": "RM_ADW"
					},
					"owner": {
						"type": "string",
						"defaultValue": "microsoft"
					},
					"repo": {
						"type": "string",
						"defaultValue": "sql-server-samples"
					},
					"branch": {
						"type": "string",
						"defaultValue": "master"
					}
				},
				"variables": {
					"auditRecord": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_github_list')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_metadata')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqldb_rm')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb_rm_dev')]",
				"[concat(variables('factoryId'), '/datasets/ds_github_raw_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_raw_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sqltable_metadata",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "table_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "table_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "column_names_json",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "column_names_json",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "column_defs_json",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "column_defs_json",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "primary_keys_json",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "primary_keys_json",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "foreign_keys_json",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "foreign_keys_json",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "unique_keys_json",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "unique_keys_json",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "raw_sql",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "raw_sql",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql_metadata",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sqldb_rm",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"auditRecord": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_metadata')]",
				"[concat(variables('factoryId'), '/datasets/ds_sqldb_rm')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupMetadata",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "\n-- view manifest\nSELECT \n    ManifestID, ModuleName, SourceFile, SourceDataFlow_fliename, Source_path, [Layer], [Target], Target_path, ProcessingPlatform,\n    include_layer, table_name, ModifiedDate_flage, ColumnList, CreatedAt\nFROM dbo.PipelineManifest\nWHERE Layer='Bronze'\nORDER BY ManifestID;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_azuresql_PipelineManifest",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupMetadata').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "RunDatabricksNotebook",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Repos/u2786997@uel.ac.uk/Repo/DataBricks/ETL-Framework/03_Run",
										"baseParameters": {
											"domain": {
												"value": "@item().ModuleName",
												"type": "Expression"
											},
											"column_list": {
												"value": "@item().ColumnList\n",
												"type": "Expression"
											},
											"year_column": {
												"value": "@item().ModifiedDate_flage",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_adb_rm_de",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_azuresql_PipelineManifest')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adb_rm_de')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_raw_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_RM",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					},
					"folderPath": {
						"type": "string"
					},
					"delimiter": {
						"type": "string"
					},
					"hasHeader": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": "raw",
						"fileSystem": "project"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_RM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_table",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "audit"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuresql_PipelineManifest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_rm_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ManifestID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ModuleName",
						"type": "nvarchar"
					},
					{
						"name": "SourceFile",
						"type": "nvarchar"
					},
					{
						"name": "SourceDataFlow_fliename",
						"type": "nvarchar"
					},
					{
						"name": "Source_path",
						"type": "nvarchar"
					},
					{
						"name": "Layer",
						"type": "nvarchar"
					},
					{
						"name": "Batch",
						"type": "nvarchar"
					},
					{
						"name": "ParallelGroup",
						"type": "nvarchar"
					},
					{
						"name": "Target",
						"type": "nvarchar"
					},
					{
						"name": "Target_path",
						"type": "nvarchar"
					},
					{
						"name": "ProcessingPlatform",
						"type": "nvarchar"
					},
					{
						"name": "DependencyType",
						"type": "nvarchar"
					},
					{
						"name": "DependencyStatus",
						"type": "nvarchar"
					},
					{
						"name": "Dependencies",
						"type": "nvarchar"
					},
					{
						"name": "include_layer",
						"type": "nvarchar"
					},
					{
						"name": "table_name",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate_flage",
						"type": "nvarchar"
					},
					{
						"name": "ColumnList",
						"type": "nvarchar"
					},
					{
						"name": "CreatedAt",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "PipelineManifest"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb_rm_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_github_list')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_GitHub_http",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"owner": {
						"type": "string",
						"defaultValue": "microsoft"
					},
					"repo": {
						"type": "string",
						"defaultValue": "sql-server-samples"
					},
					"path": {
						"type": "string",
						"defaultValue": "samples/databases/adventure-works/oltp-install-script"
					},
					"branch": {
						"type": "string",
						"defaultValue": "master"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat('/repos/', dataset().owner, '/', dataset().repo, '/contents/', dataset().path)",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_GitHub_http')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_github_raw_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_git_raw_http",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"owner": {
						"type": "string",
						"defaultValue": "microsoft"
					},
					"repo": {
						"type": "string",
						"defaultValue": "sql-server-samples"
					},
					"branch": {
						"type": "string",
						"defaultValue": "master"
					},
					"path": {
						"type": "string",
						"defaultValue": "samples/databases/adventure-works/oltp-install-script"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat(\n  '/', \n  dataset().owner, '/', \n  dataset().repo, '/', \n  dataset().branch, '/', \n  dataset().path\n)\n",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_git_raw_http')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_metadata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_RM",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "output-onlinetools.txt",
						"folderPath": "audit",
						"fileSystem": "project"
					},
					"columnDelimiter": ";",
					"escapeChar": "/",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "table_name",
						"type": "String"
					},
					{
						"name": "column_names_json",
						"type": "String"
					},
					{
						"name": "column_defs_json",
						"type": "String"
					},
					{
						"name": "primary_keys_json",
						"type": "String"
					},
					{
						"name": "foreign_keys_json",
						"type": "String"
					},
					{
						"name": "unique_keys_json",
						"type": "String"
					},
					{
						"name": "raw_sql",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_RM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqldb_rm')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_rm_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "sql_table_metadata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sqldb_rm_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_RM')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_RM_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_GitHub_http')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_GitHub_http_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adb_rm_de')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-241853558342856.16.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_adb_rm_de_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_adb_rm_de_properties_typeProperties_existingClusterId')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_table')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_adls_table_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_git_raw_http')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_git_raw_http_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('ls_git_raw_http_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_git_raw_http_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sqldb_rm_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sqldb_rm_dev_properties_typeProperties_server')]",
					"database": "[parameters('ls_sqldb_rm_dev_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sqldb_rm_dev_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sqldb_rm_dev_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/adls_prend')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('adls_prend_properties_privateLinkResourceId')]",
				"groupId": "[parameters('adls_prend_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		}
	]
}